# Configuración de XAMPP / Servidor
.htaccess
php_errors.log

# Archivos de Sistema
.DS_Store
Thumbs.db

# IDEs (VS Code, PHPStorm)
.vscode/
.idea/

# Scripts temporales de instalación (Seguridad)
setup.php
db.php