RewriteEngine On
# Evita que se vea la lista de archivos si falta el index
Options -Indexes

# Regla básica para MVC
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]